.banner2 {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.kami-charisma {
  margin:5vh 0;
}

.event {
  border:2px solid #b5aa98;
  padding:2vh;
  border-radius:20px;
}

.event p {
  text-align: justify;
}

.title {
  margin:2vh 0;
}

.title h2 {
  font-weight:bold;
  background: linear-gradient(transparent 40%, #E0CD7B 60%);
}


.table-text p a {
  color:blue;
  text-decoration: none;
}

.table-text p a:hover {
  color:white;
  background:blue;
  text-decoration:underline;
}

/*.category {
  margin:10vh auto;
  box-shadow: 1px 2px 6px #9a9a9a;
  padding:3vh 0;
}

.category h1 {
  font-size:36px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.category iframe {
  padding-top:1.5vh;
}

.category .nominate {
  margin-top:4vh;

}

.category .nominate h2 {
  border-bottom: 1px solid #d70034;
  color: #d70034;
  font-size:24px;
}

.category .nominate h2 img {
  margin-left: 10px;
  margin-bottom: 5px;
}

.category .nominate p {
  padding-bottom:10px;
  border-bottom: 1px solid #9a9a9a;
  font-style: italic;
}


.category .nominate ul {
  list-style: none;
  flex-grow: 1;
  overflow-y: scroll;
  height:500px;
}

.category .nominate h6 {
  font-weight:bold;
  margin-left: 10px;
}*/

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:60px;
  right:40px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index:999;
}


.my-float{
  margin-top:22px;
}



/* On screens that are 576px or less, set the background color to olive */
@media screen and (max-width: 576px) {
  .banner2 {
    padding:100px 0;
  }

  .event p {
    /*color:red;*/
    font-size:14px;
    text-align: justify;
  }

  .table {
    font-size: 12px;
  }

  .table-text p {
  font-size:12px;
  }

  .table-text p a:hover {
  color:white;
  background:blue;
  text-decoration:underline;
  }

  .event {
  margin:0 10px;
}
